:host {
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    height: 42px;
    padding-left: 20px;

    &:hover {
        background-color: whitesmoke;
    }

    &:first-of-type {
        border-top: 1px solid #dbdbdb;
    }

    mat-icon {

        height: 30px;
        font-size: 3rem;
        line-height: 3rem;
        margin-right: 14px;

        &.rotate {
            transform: rotate(180deg);
        }
    }  
}