<h1 mat-dialog-title>Add Calculation</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline"  (keydown.enter)="onCreateClick()">
    <mat-label>Calculation Name</mat-label>
    <input class="calculation-name-input" [formControl]="name" matInput placeholder="Enter calculation name" cdkFocusInitial>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button color="primary" [disabled]="isDisabled()" mat-button (click)="onCreateClick()">Create</button>
</div>  