<div class="project-list-header">
    <button mat-icon-button matTooltip="Add calculation" color="accent" class="add-calculation"
        (click)="onAddCalculationClick()">
        <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Create project" color="accent" class="add-project"
        (click)="onAddProjectClick()">
        <mat-icon>create_new_folder</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Hide/Show Project List" color="accent" class="toggle-project-list"
        (click)="onProjectListToggle()">
        <mat-icon>double_arrow</mat-icon>
    </button>
</div>