:host {
  width: 320px;  
  height: 100%;

  #project-list-controls {
    align-items: center;
    border-bottom: 1px solid darkgrey;
    display: grid;
    font-size: 1.6rem;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 40px;
    width: 100%;

    &:hover {
      background-color: whitesmoke;
    }

    mat-icon {
      transition: transform 0.3s;
    }
  }

  #project-list-items {
    display: grid;    
  }

  .rotate-90 {
    transform: rotate(90deg);
  }
}
