:host{
    width: 320px;

    .calculation-controls {
        width: 100%;
      display: grid;
      
      align-items: center;
      font-size: 1.6rem;
      cursor: pointer;

      &:hover {
        background-color: whitesmoke;
      }

      &.selected {
        color: #2366a0;
      }
  
      mat-icon {
        transition: transform 0.3s;
      }
    }
}