$cbd-lapislazuli: (
    50 : #e5edf4,
    100 : #bdd1e3,
    200 : #91b3d0,
    300 : #6594bd,
    400 : #447dae,
    500 : #2366a0,
    600 : #1f5e98,
    700 : #1a538e,
    800 : #154984,
    900 : #0c3873,
    A100 : #a5c7ff,
    A200 : #72a7ff,
    A400 : #3f87ff,
    A700 : #2577ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

