$cdb-lemoncurry: (
    50 : #f9f5e4,
    100 : #f1e6bb,
    200 : #e8d58e,
    300 : #dfc461,
    400 : #d8b73f,
    500 : #d1aa1d,
    600 : #cca31a,
    700 : #c69915,
    800 : #c09011,
    900 : #b57f0a,
    A100 : #fff4e0,
    A200 : #ffe3ad,
    A400 : #ffd17a,
    A700 : #ffc861,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

