$cbd-pearl: (
    50 : #fcfcfa,
    100 : #f8f7f2,
    200 : #f4f1e9,
    300 : #efebe0,
    400 : #ebe7da,
    500 : #e8e3d3,
    600 : #e5e0ce,
    700 : #e2dcc8,
    800 : #ded8c2,
    900 : #d8d0b7,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);