$cbd-vegasgold: (
    50 : #f8f4ec,
    100 : #ede4cf,
    200 : #e2d3b0,
    300 : #d6c190,
    400 : #cdb378,
    500 : #c4a660,
    600 : #be9e58,
    700 : #b6954e,
    800 : #af8b44,
    900 : #a27b33,
    A100 : #fff7eb,
    A200 : #ffe5b8,
    A400 : #ffd285,
    A700 : #ffc96b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

