:host {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 64px 1fr 6fr;
    grid-template-areas:
        "header header"
        "userDetails details"
        "projects details";
    height: 100%;

    cbd-calculation-details {
        grid-area: details;
    }

    cbd-project-list {
        grid-area: projects;
        height: auto;
    }
    
    cbd-toolbar {
        grid-area: header;
        z-index: 2;
    }
    cbd-user-detail{
        grid-area: userDetails
    }
}
