:host {
    display: grid;
    grid-column: auto auto;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 64px 1fr;
    grid-template-areas:
        "header header header"
        "projects calculations details";
    height: 100%;

    cbd-calculation-details {
        grid-area: details;
    }

    cbd-calculation-list {
        grid-area: calculations;
        height: auto;
        margin: 64px 0 0 64px;
    }

    cbd-project-list {
        grid-area: projects;
        height: auto;
    }
    
    cbd-toolbar {
        grid-area: header;
    }
}
