<h1>DESIGN PRESSURE</h1>
<div class="fields">
  <div class="input-container">
    <h2>Input</h2>
    <mat-form-field appearance="fill">
      <mat-label>Pipe and Location Data</mat-label>
      <mat-select>
        <mat-option>Line Pipe - API Spec 5L</mat-option>
        <mat-option>Standard Steel Pipe - ASTM - ANSI B36.10 </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nominal Pipe Size</mat-label>
      <mat-select>
        <mat-option *ngFor="let size of nominalPipeSize" [value]="size">{{size.nominalPipeSize}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="output-container">
    <h2>Output</h2>
  </div>
</div>