:host {
    
}

.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.input-container {
    grid-column-start: 1;
    //background: green;
}

.output-container {
    grid-column-start: 2;
    background: lightseagreen;
}
