$cbd-charcoal: (
    50 : #e9eaeb,
    100 : #c8cbce,
    200 : #a4a9ad,
    300 : #7f868c,
    400 : #636c74,
    500 : #48525b,
    600 : #414b53,
    700 : #384149,
    800 : #303840,
    900 : #21282f,
    A100 : #79bcff,
    A200 : #46a2ff,
    A400 : #1389ff,
    A700 : #007cf8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

