$cbd-cultured: (
    50 : #fdfdfd,
    100 : #fafbfb,
    200 : #f7f8f8,
    300 : #f3f5f5,
    400 : #f1f3f2,
    500 : #eef1f0,
    600 : #ecefee,
    700 : #e9edec,
    800 : #e7ebe9,
    900 : #e2e7e5,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

