$cbd-fireopal: (
    50 : #fbebe8,
    100 : #f4cec6,
    200 : #edada1,
    300 : #e68c7b,
    400 : #e0735e,
    500 : #db5a42,
    600 : #d7523c,
    700 : #d24833,
    800 : #cd3f2b,
    900 : #c42e1d,
    A100 : #fffbfb,
    A200 : #ffccc8,
    A400 : #ff9d95,
    A700 : #ff867b,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

