$cbd-paletaupe: (
    50 : #f6f4ef,
    100 : #e9e4d7,
    200 : #dbd2bd,
    300 : #cdc0a2,
    400 : #c2b38e,
    500 : #b7a57a,
    600 : #b09d72,
    700 : #a79367,
    800 : #9f8a5d,
    900 : #90794a,
    A100 : #fff9ed,
    A200 : #ffe7ba,
    A400 : #ffd687,
    A700 : #ffcd6e,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

