$cbd-polishedpine: (
    50 : #eaf3f2,
    100 : #cce2df,
    200 : #aacfc9,
    300 : #87bcb3,
    400 : #6eada3,
    500 : #549f93,
    600 : #4d978b,
    700 : #438d80,
    800 : #3a8376,
    900 : #297264,
    A100 : #b8fff0,
    A200 : #85ffe5,
    A400 : #51ffdb,
    A700 : #38ffd6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

