:host {
    width: 320px;
    height: 100%;

    #project-list-controls {
        align-items: center;
        display: grid;
        font-size: 1.6rem;
        grid-template-columns: 40px auto 40px;
        grid-template-rows: 40px;
        width: 100%;
        border-bottom: 1px solid darkgrey;
    }
}