:host {
    display: flex;
    align-items: center;
    padding-right: 10px;
  
    .calculation-menu-title {
      margin-left: 18px;
      font-size: 1.6rem;
      opacity: 0;
      display: none;
  
      &.visible {
        display: block;
        opacity: 1;
        animation: fade-in 375ms cubic-bezier(0.4, 0, 0.2, 1) 225ms both;
      }    
    }
  
    .calculation-menu-toggle {
      transform: rotate(180deg);
      transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &.open {
        transform: rotate(0deg);
      }
    }
  
    .calculation-menu-spacer {
      flex-grow: 1;
    }
  
    @keyframes fade-in {
      0% {
        opacity: 0;
      }
    }  
  }
  