:host {
    background-color: #eef1f0;
    box-sizing: border-box;
    min-width: 448px;
 
// #newton-user-details{
//     padding-bottom: 50px;
// }      
.mat-list-item{
    font-size: 1.9rem;
}

.mat-list-base .mat-list-item .mat-line:nth-child(n+2){
font-size: 1.5rem;
font-weight: 100;
}
.mat-icon{
    vertical-align: middle;
    font-size: 50px;
    width: 50px;

}

}
