<div id="newton-user-details">  
<mat-list>
    <mat-list-item>
        <button matListAvatar mat-icon-button class="account-icon" [matMenuTriggerFor]="userMenu" 
        aria-label="icon-button with an account icon, when clicked reveals user menu">
        <mat-icon> account_circle</mat-icon>
        </button>
    <span matLine>{{(user$ | async )?.firstName}} {{(user$ | async )?.lastName}}</span>
    <span matLine>{{(userTitle)}}</span>
</mat-list-item>
</mat-list>
<mat-divider></mat-divider>
</div>
<mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span>
    </button>
</mat-menu>

