:host {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 404.5px 1fr;
  grid-template-rows: 64px 1fr;
  grid-template-areas:
    "header header header"
    "folders calculations work-space";

  header {
    grid-area: header;
    z-index: 2;
  }

  cbd-project-list {
    grid-area: folders; 
    z-index: 1;
  }

  .calculations {
    grid-area: calculations;
    background-color: whitesmoke;
    z-index: -1 !important;
  }

  .work-space {
    grid-area: work-space;
    background-color: white;
    z-index: -1 !important;
  }
}
