:host {
  height: 100%;
  display: grid;
  grid-template-columns: auto 404.5px 1fr;
  grid-template-areas:
    "folders calculations work-space";

  header {
    grid-area: header;
    z-index: 2;
  }

  cbd-project-list {
    grid-area: folders; 
    z-index: 1;
    width: 60px;
    transition: width 375ms cubic-bezier(0.4,0.0,0.2,1);

    &.expanded {
      width: 250px;
    }

    // &.collasped {

    // }
  }

  .calculations {
    grid-area: calculations;
    // background-color: whitesmoke;
    z-index: -1 !important;
  }

  .work-space {
    grid-area: work-space;
    // background-color: white;
    z-index: -1 !important;
  }

  
}
