<div class="input-container">
    <header>Design Pressure</header>
    <div class="inputs">
    <div>
        <cbd-api5L-nominal-pipe-size-select (selected)="onSelected($event)">
        </cbd-api5L-nominal-pipe-size-select>
    </div>
    <div>     
        <cbd-api5L-wall-thickness-select (selectedWallThickness)="assignData($event, 'wall')"
            [(nominalPipeSize)]="nominalPipeSize"></cbd-api5L-wall-thickness-select>
    </div>
    <div>      
        <cbd-api5l-grade-select (selectedGrade)="assignData($event, 'grade')">
        </cbd-api5l-grade-select>
    </div>
    <div>     
        <cbd-api5l-design-factor-select (selectedDesignFactor)="assignData($event, 'design')">
        </cbd-api5l-design-factor-select>
    </div>
    <div>     
        <cbd-api5l-longitudal-joint-factor-select (selectedJointFactor)="assignData($event, 'joint')">
        </cbd-api5l-longitudal-joint-factor-select>
    </div>
    <div>  
        <cbd-api5l-temperature-derating-factor-select (selectedTemperatureFactor)="assignData($event, 'temperature')">
        </cbd-api5l-temperature-derating-factor-select>
    </div>
    </div>
    <div class="outputs">
    <table style="width:75%; position: relative;">     
        <tr>
          <td>Nominal Pipe Size</td>
          <td>{{nominalPipeSize}}</td>
        </tr>
        <tr>
            <td>Wall Thickness</td>
            <td>{{selectedWallThickness}}</td>
          </tr>
          <tr>
            <td>Grade</td>
            <td>{{selectedGrade}}</td>
          </tr>
          <tr>
            <td>Design Factor</td>
            <td>{{selectedDesignFactor}}</td>
          </tr>
          <tr>
            <td>Longitudinal Joint Factor</td>
            <td>{{selectedJointFactor}}</td>
          </tr>
          <tr>
            <td>Temperature Derating Factor</td>
            <td>{{selectedTemperatureFactor}}</td>
          </tr>
          <tr>
            <td class="total-row">Design Pressure Total (psig)</td>
            <td>{{designPressureTotal}}</td>
          </tr>
      </table>
      </div>

      <div class="actions">
        <mat-divider></mat-divider>
        <button mat-raised-button color="basic"(click)="onCalculate()">Calculate</button>
        <button mat-raised-button color="primary" (click)="onCalculate()">Save</button>
    </div>
</div>