<div class="input-container">
    <h2>Input</h2>
    <cbd-api5L-nominal-pipe-size-select (selected)=onSelected($event)></cbd-api5L-nominal-pipe-size-select>
    <cbd-api5L-wall-thickness-select [(nominalPipeSize)]="nominalPipeSize"></cbd-api5L-wall-thickness-select>
    <cbd-api5l-grade-select></cbd-api5l-grade-select>
    <cbd-api5l-design-factor-select></cbd-api5l-design-factor-select>
    <cbd-api5l-longitudal-joint-factor-select></cbd-api5l-longitudal-joint-factor-select>
    <cbd-api5l-temperature-derating-factor-select></cbd-api5l-temperature-derating-factor-select>
</div>
