:host {
  
  mat-list-item {   
    
    .active-indicator {
      display: block;
      width: 4px;
      height: 100%;
      opacity: 0;
    }

    &.active {
      .active-indicator {
        opacity: 1;
      }
    }
    
    mat-icon {
      margin: 0 8px;
    }
  }  
}