:host {
    align-items: center;
    background-color: #eef1f0;
    cursor: pointer;
    display: grid;
    font-size: 1.6rem;
    grid-template-rows: 63px 1px;
    height: 64px;
    justify-content: end;
  
    .item-wrapper {
        align-items: center;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        height: 100%;     
        
        mat-icon {
            margin-left: 6px;
        }

        span {
            margin-top: 4px;
            margin-left: 10px;
        }

        &:hover {
            background-color: whitesmoke;
        }
    }
    
    mat-divider {
        width: 414px;
    }
}