@import "~@angular/material/theming";

@include mat-core();

@import "./themes/pallets/persian-red.pallet.scss";
@import "./themes/pallets/lapis-lazuli.pallet.scss";

$CarbideNG-blue: mat-palette($cbd-lapislazuli, 500, 200, 800);
$CarbideNG-warn: mat-palette($cbd-persianred, 500, 300, 900);

$CarbideNG-theme: mat-light-theme($CarbideNG-blue, $CarbideNG-blue, $CarbideNG-warn);

$dark-gunmetal: #222428;

$foreground: map-get($CarbideNG-theme, foreground);
$foreground: map-merge(
  $foreground,
  (
    text: $dark-gunmetal
  )
);
$CarbideNG-theme: map-merge(
  $CarbideNG-theme,
  (
    foreground: $foreground
  )
);

@include angular-material-theme($CarbideNG-theme);

@import "./app/app.component.theme.scss";

@mixin custom-components-theme() {
  @include app-component-theme($CarbideNG-theme);
}

html,
body {
  height: 100%;
}

body {
  @include custom-components-theme();
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;  
}