
@import '~@angular/material/theming';

@include mat-core();

@import './themes/pallets/lapis-lazuli.pallet.scss';
@import './themes/pallets/lemon-curry.pallet.scss';
@import './themes/pallets/persian-red.pallet.scss';

$CarbideNG-primary: mat-palette($cbd-lapislazuli, 500, 300, 800);
$CarbideNG-accent: mat-palette($cdb-lemoncurry, 500, 300, 700);
$CarbideNG-warn: mat-palette($cbd-persianred, 500, 300, 900);

$CarbideNG-theme: mat-light-theme($CarbideNG-primary, $CarbideNG-accent, $CarbideNG-warn);

$dark-gunmetal: #222428;
$platinum: #e5e4e2;

$background: map-get($CarbideNG-theme , background );
$background: map-merge($background, (background: $platinum));
$CarbideNG-theme: map-merge($CarbideNG-theme, (background: $background));

$foreground: map-get($CarbideNG-theme , foreground );
$foreground: map-merge($foreground , (text: $dark-gunmetal));
$CarbideNG-theme: map-merge($CarbideNG-theme, (foreground: $foreground));

@include angular-material-theme($CarbideNG-theme);


html, body { 
    height: 100%; 
}

body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}
