:host {
  mat-list-item {
    .project-list-item-wrapper {
      display: flex;
      width: 100%;
      align-items: center;

      .spacer {
        flex-grow: 1;
      }

      mat-icon {
        justify-self: flex-end;
      }
    }
    
    button {
      display: none;
    }

    &:hover {
      button {
        display: initial;
      }
    }
  }
}
